body{
    margin: 0 auto;
    text-align: center;
}

.container{
    margin: 40px 20px;
    background-image: url();
}

button {
    color: White;
    padding: 20px 50px;
    margin: 15px;
    border-radius: 15px;
    background-color: grey;
}